# Assignment_1

Solved by Mittal Shah

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.  * , 'hello', -87.8, -,  /,  +, 	6

Ans : There are three values and 4 expressions.
Values :     'hello', -87.8, 6
Expressions: *, -, /, +

2. What is the difference between string and variable?

Ans : 
- String is a group of characters, space and numbers too which is generally enclosed by double quotes:" " or single quotes:' '. In some cases even triple quotes can be used.

Where as variable is symbolic name which can be used to store the information.

Example: a = "Mittal28"
         c = "My name is Mittal Shah"
        
Here a and c are Variables where "Mittal28" and "My name is Mittal Shah" is string.

3. Describe three different data types.

Ans :
    Three Different Data Types are:
        1. Text Type (str) :
            It contains string. in which we can store group of characters enclosed by double quotes or single quotes. 
        2. Numeric Type (int, float, complex)
            It contains integer, float and complex numbers. integer(int) can be used to represent whole numbers (integer numbers), float can be used to represent rational numbers (floating numbers) and compplex can be used to represent complex numbers.
        3. Boolean Type (bool)
            It can be used to represent the data which is a form of data with only two possible values: True(1) and False(0).

In [5]:
# Examples

# Text Type:
a = 'Mittal28'
print(a, type(a))

# Numeric Type
b = 12
print(b,type(b))
c = 11.5
print(c, type(c))
d = 5 + 2j
print(d, type(d))

# Boolean Type
e = bool(15<2)
print(e, type(e))

Mittal28 <class 'str'>
12 <class 'int'>
11.5 <class 'float'>
(5+2j) <class 'complex'>
False <class 'bool'>

4. What is an expression made up of? What do all expressions do?

Ans: 
    Expression is made up of variables, constants and operators which is representing a value. An Expression always evaluates and gives value.

In [18]:
# Example
a = 10
b = 50.6
c = a + b - 2 # This is an expression. Here a, b are variables which contains some values, +, - are operators and 2 is constant
print('c = ', c)

c =  58.6

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans :
    Any line of code or instruction that interpreter executes is called statement which has a effect like creating a variable or displaying a value.
    Expressions always evaluate to a value, where as statements don't.
    Expressions are often part of a statement.

In [19]:
# Example

a = 10 # Statement
b = 5.28 # Statement
c = a + b - 5 # This is a statement in which a + b - 5 is an expression.
print('c = ', c) # Statement

c =  10.280000000000001

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

Ans :
    The variable bacon will contain 22. Here after performing bacon + 1 new value is not assigned to the variable bacon. So value of bacon will remain same

In [6]:
bacon = 22
bacon + 1
print(bacon)

22

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

Ans:
    'spam' + 'spamspam' : We will get 'spamspamspam' here.(String Concatenation) 
    'spam' * 3 : We will get 'spamspamspam' here. (String Multiplication)

In [8]:
'spam' + 'spamspam' #String Concatenation

'spamspamspam'

In [9]:
'spam' * 3 #String Multiplication

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Ans:
    There are few python rules for the naming of a varible. Few of them are:
        1. Name of the variable must start with the letter or underscore.
        2. Name of the variable can not start with number.
        3. Name of the ariable can be alpha numeric.
        4. Name of variables are case sensitive. i.e. MITTI, mitti, Mitti these all are different variable names.
    According to these rules, eggs is valid variable name. As 100 is a number it is invalid variable name.

In [10]:
eggs = 'Mittal'
print(eggs)

Mittal

In [11]:
100 = 'Mittal'
print(100)

SyntaxError: cannot assign to literal (2849767127.py, line 1)

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans:
    To get the integer, floating point number or string version of the value, we can use int(), float() and str() respectively.

In [13]:
print('int(12.2) : ', int(12.2)) # For the conversion into integer

int(12.2) :  12

In [15]:
print('float(25) : ', float(25)) # For the conversion into floating point number

float(25) :  25.0

In [16]:
print('str(667) : ', str(667)) # For the conversion into str

str(667) :  667

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Ans:
    In the given expression, 'I have eaten ' and ' burritos.' are strings where as 99 is an integer. Here we are doing concatenation operation of the two different data types which is not posiible so we are getting error.
    To fix this error we need to typecast 99 to string, We will be able to execute this function without any error.

In [17]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'